.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.button__wrapper {
    width: 100%;
}

.button__wrapper:hover {
    border-left: 1px solid #FA5858;
    border-right: 1px solid #FA5858;
}