.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.buttons {
    width: 100%;
    background-color: #6E6E6E;
    color: #FA5858;
    font-weight: bold;
    font-size: large;
    border: none;
    cursor: pointer;
}

.buttons:hover {
    border-left: 1px solid #FA5858;
    border-right: 1px solid #FA5858;
}